body {
    font-family: sans-serif;

    background-color     : rgb(231, 231, 231);
    background-repeat    : no-repeat;
    background-position-y: 100px;
    background-size      : contain;
    width                : auto;
}

.container {
    padding: 0px;
}

.header {
    position        : fixed;
    background-color: rgb(245, 65, 49);
    color           : white;
    top             : 0;
    z-index         : 999;
}

a {
    text-decoration: none;
    color          : white;
}

.header-top {
    padding        : 5px;
    height         : 20px;
    font-size      : small;
    display        : flex;
    justify-content: space-between;
}

.header-top-right {
    display        : flex;
    justify-content: space-between;
    position       : relative;

}

.header-top-right-item {
    margin-left: 20px;
}

.header-bottom {
    padding-top   : 15px;
    padding-bottom: 15px;
}

.nav-item {
    margin-left : 20px;
    margin-right: 20px;
}

.pic {
    width: 50px;
}

.header-bottom .search-form-warp {
    padding: 0px;
    width  : 100%;
}

.header-bottom .search-form {
    display         : flex;
    flex-direction  : row;
    padding         : 3px;
    border-radius   : 3px;
    width           : 100%;
    background-color: white;
    justify-content : space-between;
}

.header-bottom .search-form .search-input {
    width           : 90%;
    background-color: transparent;
    border          : none;
    outline         : none;
    height          : 40px;
}

.header-bottom .search-form .search-img-warp {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    border          : none;
    padding-left    : 20px;
    padding-right   : 20px;
    background-color: rgb(255, 0, 0);
    position        : relative;
    height          : 40px;
}

.header-bottom .search-form .search-img-warp:hover {
    background-color: rgb(223, 3, 3);
}

.header-bottom .search-form .search-img {
    border: none;
    margin: auto;
    height: 18px;
}

.content {
    margin    : auto;
    margin-top: 170px;
    width     : 1140px;
}

.bg_footer {
    margin-top      : 100px;
    width           : 100%;
    float           : left;
    background-color: rgb(245, 65, 49);
    min-height      : 100px;
}

.about_footer {

    width : 350px;
    margin: 20px 15px;
    float : left;
}

.about_footer p {
    font-size     : 14px;
    line-height   : 20 px;
    margin        : 30px 0;
    letter-spacing: 1px;
    color         : white;
}

.about_footer ul {
    padding   : 0px;
    list-style: none;
    margin    : 15px 0;
}

.about_footer ul li {
    float       : left;
    width       : 60px;
    height      : 60px;
    margin-right: 15px;
    text-align  : center;
    line-height : 60px;
    font-size   : 36px;
    color       : #fefefe;
}

.about_footer ul li:nth-child(1) {
    background-color: #3b5998;
}

.about_footer ul li:nth-child(2) {
    background-color: #00acee;
}

.about_footer ul li:nth-child(3) {
    background-color: #f77737;
}

.about_footer ul li:nth-child(4) {
    background-color: #bd081c;
}

.info {
    width : 160px;
    margin: 45px 15px;
    float : left;
}

.footer_title p {
    font-size  : 22px;
    line-height: 32px;
    color      : #fefefe;

}

.footer_title p span {
    font-size  : 22px;
    line-height: 32px;
    color      : #fefefe;
    font-weight: bold;
}

.info ul {
    padding   : 0px;
    list-style: none;
    margin-top: 30px;
}

.info ul li a {
    text-decoration: none;
    font-size      : 16px;
    line-height    : 32px;
    color          : white;
    letter-spacing : 2px;
}

.ourwork,
.contact {
    width : 255px;
    margin: 45px 15px;
    float : left;
}

.ourwork ul {
    padding   : 0px;
    list-style: none;
    margin-top: 30px;
}

.ourwork ul li {
    float : left;
    margin: 0 30px 8px 0;
}

.ourwork ul li img {
    width  : 63px;
    height : 50px;
    padding: 2px;
    border : 1px solid #999999;
}

.contact_content {
    padding-left: 0px;
    margin-top  : 32px;
}

.contact_icon {
    color     : white;
    margin-top: 10px;
    text-align: left;
    width     : 13%;
    float     : left;
}

.contact_details {
    margin-top: 10px;
    width     : 87%;
    float     : left;
}

.contact_icon i {
    font-size  : 24px;
    line-height: 32px;

}

.contact_details h4,
.contact_details p {
    margin-top    : 0px;
    font-size     : 14px;
    line-height   : px;
    color         : #fefefe;
    letter-spacing: 1px;
}